.button {
  border-radius: var(--radius-sm);
  border: 2px solid var(--teal);
  font-family: var(--copy);
  text-transform: uppercase;
  min-width: 125px;
  background-color: var(--opaque);
  color: var(--teal);
  transition: var(--transition);
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: var(--text-lg);

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

@media screen and (max-width: 900px) {
  .button {
    width: 100px;
    height: 35px;
  }
}
