.button {
  border-radius: var(--radius-sm);
  border: 2px solid var(--teal);
  font-family: var(--copy);
  text-decoration: none;
  text-transform: uppercase;
  min-width: 125px;
  background-color: var(--opaque);
  color: var(--teal);
  transition: var(--transition);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.text {
  display: flex;
  height: 1.3em;
  font-size: var(--text-lg);
  margin: 0px;
  padding-bottom: 3px;
}

@media screen and (max-width: 900px) {
  .button {
    width: 100px;
    height: 35px;
  }

  .text {
    height: 1em;
    line-height: 1em;
    font-size: var(--text-sm);
  }
}
